.vs/
./Asd123/.vs/
*.targets
*.props
*.pdb
*.cache
*.dll
*.txt
*.CopyComplete
/Asd123/Asd13.Repository.EF/obj/*
/Asd123/Asd13.Repository.EF/bin/*
/Asd123/Asd123.ApplicationService/obj/*
/Asd123/Asd123.Domain/obj/*
/Asd123/Asd123.ApplicationService/bin/*
/Asd123/Asd123.Domain/bin/*
/Asd123/Asd13.Repository.EF/Migrations
/Asd123/AsdWebJob123/bin
/Asd123/AsdWebJob123/obj/Release
/Asd123/AsdWebJob123/AsdWebJob123.csproj.user
/Asd123/packages
/Asd123/AsdWebJob123/obj/Debug
/Asd123/AsdWebJob123/Properties/PublishProfiles
